*{margin: 0; padding: 0;}
*,*:before,*:after{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
a{text-decoration: none; color: #333;}
a,input,textarea,button{
	outline: none;
}
/*header.css*/
body{font-size: 62.5%; overflow-y: scroll;background: #2a2a2a;height: 100%;font:14px Avenir, sans-serif;}
.header{
	height: 97px;
	position: relative;
	top: 0;
	margin: 0 auto;
	left: 0;
	width: 100%;
	z-index: 9999;
	background: #121212;
}

.header a{
	text-decoration: none; 
	list-style-type: none;
}

.header-box{
	width: 960px;
	height: 97px;
	position: relative;
	margin: 0 auto;
	padding: 0;
}

.top-img {
	position: relative;
	top: 24px;
	display: inline-block;
}
.top-img img{
	width: 50px;
	height: auto;
}

.menu {
	position: absolute;
	text-decoration: none;
	width: auto;
	display: inline-block;
	margin: 0;
	top: 0;
	right: 0;
}

.menu li {
	list-style-type: none;
	display: inline-block;
	text-align: center;
	padding: 41px 0 36px 40px;
	color: #666;
	line-height: 20px;
}

.menu li a {
	color: #fff;
}

.menu li a:hover{
	color: rgba(255,255,255,.5);
}

.header a {
	text-decoration: none;
	list-style-type: none;
}

.selected a {
	color: #00abf4!important;
}

.intro{
	background: #dcddd3;
	width: 100%;
}

.intro_portfolio{
	background: none;
}

.intro_infor{
	width: 960px;
	margin: 0 auto;
	padding: 4rem 0;
}

.link_back{
    background: #dcddd3;
    width: 100%;
    height: 40px;
}

.cv_page{
	width: 960px;
	margin: 0 auto;
	padding: 4rem 0.5rem;
}

.ati{
	margin: 0.75rem 0 2rem 0;
}

.main_t{
	font-size: 1.125rem;
}
.ati p{
	font-size:0.75rem;
	padding: 0.3125rem 0 0 0;
	color: rgba(0,0,0,0.7);
	width: 60%;
}

.main_t_r{
	float: right;
}

.breadcrumb_nav_icon{
	position: relative;
	width: 960px;
	height: 40px;
	margin: 0 auto;
}

.breadcrumb_nav_icon li{
	list-style: none;
	float: left;
}

.h_icon{
	width: 20px;
	height: 20px;
	background: url(../img/home.png) no-repeat;
	background-size: 20px;
	position: relative;
	display: inline-block;
	top: 10px;
}

.sect{
	top: 13px;
	position: relative;
	color: #999;
	padding-left: 5px;
}

.intro_infor_left{
	width: 44%;
	float: left;
	position: relative;
	font-size: 1.25rem;
    font-weight: 500;
}

.intro_infor_right{
    width: 55%;
	display: inline-block;
	position: relative;
	right: 0;
	font-size: 0.95rem;
	line-height: 1.6;
}

.intro_infor_right p{
	font-weight: lighter;
	color: rgba(0,0,0,.6);
}


.location{
	position: absolute;
	right: 0;
}

.vertical-text{
	margin-top: 14rem;
}

.vertical-text p{
	-webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    letter-spacing: 2px;
    font-size: 1.05rem;
    margin: 0 0 10px;
}

#go-top{
	width: 40px;
	height: 40px;
	position: fixed;
	right: 30px;
	bottom: 150px;
	z-index: 999;
}

#go-top a{
	width: 40px;
	height: 40px;
	position: relative;
	display: block;
}

#go-top span{
	width: 40px;
	height: 40px;
	background: url(../img/gototop.png) no-repeat;
	background-size: 40px;
	display: block;
}

#go-top span:hover{
	background: url(../img/gototop2.png) no-repeat;
	background-size: 40px;
}
/*footer.css*/
.footer {
	width: 100%;
	height: 170px;
	background: #121212;
	position: relative;
}

.bot-link {
	width: 960px;
	margin: 0 auto;
	height: 170px;
	position: relative;
}

.linked {
	margin-left: 0;
	margin-bottom: 0;
	display: inline-block;
	list-style-type: none;
}

.lik {
	float: left;
	padding: 0 25px 0 0;
}

.footer p{
	font-size: 14px;
	color: #fff;
	line-height: 2;
}

.footer a {
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	display: block;
}

.bot-ex p{
	color: #fff;
	font-size: 14px;
}

.link-list{
	position: relative;
	padding-top: 20px;
}

.lik_logo{
	height: 25px;
	width: 60px;
	position: absolute;
	right: 0;
	top: 20px;
}

.lik_logo a{
	width: 25px;
	height: 25px;
	display: inline-block;
}

.bot-ex{
	padding-top: 10px;
}

/*index.css*/
.hidden{display: none;}
.BD{margin: 0;width: 100%; padding: 30px;}
.Bg{background: #ecede2;}
.container{
  padding: 40px 0;
}

.show_btn{
	width: 960px;
	margin: 0 auto;
	text-align: right;
}

.show_btn a{
	font-size: 1.05rem;
	font-weight: 500;
}

.show_btn a:hover{
    color: #32c182;
}

.waterfall{
  width: 960px;
  margin: 0 auto;
  position: relative;
}

.img-list{
	display: inline-block;
	width: 990px;
}

.img-list li{
  float: left; 
  list-style: none; 
  height: 180px;
  width: 300px; 
  margin: 0 30px 50px 0;
}

.img-list li:last-child{
	margin: 0;
}

#box_2,#box_mobile{
    width: 380px;
	height: 340px;
	margin: 0 0 50px 0;
	background: #fff;
}

#box_2,#box_mobile a{
	display: block;
}

.img-list li:hover{
  box-shadow: 0 0 8px rgba(100,100,100,0.3);
}

.img-box{
	overflow: hidden;
}

.img-box img{
  display:block;
  width: 300px;
  height: 180px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.img-box img:hover{
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.m-box{
  display: none;
}

#img-box-b{
  width: 540px;
  height: 340px;
  margin-right: 40px;
}

#b-img{
  width: 540px;
  height: 340px; 
  display: block;
}

#m-img{
	width: auto;
	height: 340px;
	display: block;
	margin: 0 auto;
}


.box{
  height:100%; 
  background: rgba(0,0,0,0.3);
  position: relative;
  display: none;
  top: -100%;
  z-index: 1;
}

.img-title{padding:0 0 0 15px; height: 33px; position: relative;}

.img-title span{
  position: absolute;
  display: block; 
  white-space: nowrap;
  font-size: 18px;
  top: 15px;
}

.img-title span:hover{
	color: #f6bd25;
}

.sub-img-title{
  padding:0 15px 0 15px; 
  color: #ccc; 
  font-size: 12px; 
  height: 42px;
  position: relative;
}

.head-img{
  position:relative;
  height: 42px;
}

.head-img a{
  width: 210px;
  height: 42px;
  display: inline-block;
  position: relative;
}

.head-img img{
  width:24px;
  height:24px;
  display: inline-block;
  margin: 10px 0 8px 0;
  border-radius: 50%;
}

.head-img-name{
  top: 15px;
  position: absolute;
  left: 34px;
}

.head-img-name:hover{
	color: #999;
}


/*inset.css*/

.m-comment {
	clear: both;
	width: 630px;
	position: relative;
	background: #fff;
	padding: 0 30px 60px 30px;
}
.inside-page{
	margin: 97px auto 0 auto;
	width: 960px;
	position: relative;
}

.inside-content{
	 width: 630px;
	 display: inline-block; 
	 background: #fff;
	 margin-bottom: 100px;
}
.comm-content-list{list-style: none;}
.mobile-header{display: none;}

.enter{
	height:80px;
	border: 1px solid#eee;
	margin-top: 30px;
	background: #f1f1f1;
}

.text-form{width: 570px; max-width: 570px;height: 80px; max-height: 80px; border: 0; font-size: 14px; background: rgba(0,0,0,0);}
.text-form[placeholder]{padding: 10px;}

.enter-info{
	height: 50px;
	width: 100%;
	margin-top: 10px;
}

.enter-name[placeholder]{
	padding:0 0 0 10px;
	font-size: 14px;
}

.enter-name{
	height: 50px;
	background: #f1f1f1;
	border: 0;
	width: 400px;
	margin-right: 6px;
}

.enter-info button{
	height: 50px;
	border: 0;
	background: #f6bd25;
	width: 160px;
	color: #fff;
	font-size: 14px;
	position: absolute;
	right: 30px;
}
.enter-info button:hover{
	background: #f8c53b;
}

.inside-content-text{
	padding: 30px;
    font-size: 14px;
    line-height: 18px;
}

.inside-content-text p{
	color: #666;
	margin-bottom: 12px;
}

.in-img,.in-text{display: inline-block;}

.in-text{
    padding-left: 10px;
}

.in-text span{
	font-size: 24px;
	color: #333;
	font-style: inherit;
	position: absolute;
	top: 2px;
}

.in-text p{
	font-size: 14px; 
	color: #999;
	position: absolute;
	bottom: 0px;
}
.in-text p:hover{
	color: #f6bd25;
}


.inside-content-img{
	height: 283px;
	overflow: hidden;
	padding: 0 30px;
}

.inside-content-title{
	height: 50px; 
	margin: 30px 30px 20px 30px;
	position: relative;
}

.in-img{
	width: 50px;
	height: 50px;
	position: relative;
}
.in-img img{
	width: 50px; 
	height: 50px;
	border-radius: 50%;
}

.inside-about{
	width: 300px;
	display: inline-block;
	margin: 0 0 0 30px;
	line-height: 30px;
	position: absolute;
	right: 0;
	top: 0;
}

.inside-link, .inside-hot{
	font-size: 18px;
	 color: #494949;
}

.inside-hot{
	padding: 30px 0 0 0;
}

.inside-QR{
	width: 300px;
	height: 108px;
	background: #fff;
	margin-top: 20px;
	position: relative;
}

.inside-QR p{
	color: #ccc;
	font-size: 16px;
	line-height: 28px;
}

.QR-info{
	display: inline-block;
	height: 108px;
	position: absolute;
	top: 0;
	padding: 25px 0;
}

.QR-code{
	background: url(../img/qr.png) no-repeat;
	width: 90px;
	height: 90px;
	display: inline-block;
	margin: 9px 15px;
}

.inside-link ul a, .inside-hot ul a{
	font-size: 12px; 
	color: #999;
	line-height: 18px;
}

.inside-link ul a:hover, .inside-hot ul a:hover{
	color: #f6bd25;
}

.inside-link ul,.inside-hot ul{
	list-style: none;
	background: #e8e8e8;
	padding: 0 0 30px 30px;
}

.inside-link-title{
	padding: 30px 0 15px 0;
	width: 100%;
	background: url(../img/plus.png) no-repeat;
	background-position: 226px 38px;
}

.inside-content-message{
	line-height: 18px;
	text-align: right; 
	position: absolute; 
	right: 0;
	bottom: 0;
}

.message-share{
	height: 39px;
	position: absolute;
	width: 77px;
	display: none;
	z-index: 999;
	background:url(../img/trangle.png) no-repeat;
	background-position: 41px 35px;
	right: 0;
	top: -50px;
}
.message-share-icon ul li{display: inline-block; text-decoration: none;}

.inside-content-message>div>span{
	display: inline-block;
	font-size: 12px;
	white-space: nowrap;
}

#share-icon{padding: 40px 0 40px 20px;text-align: left;display: block; position: absolute; left: 0;}

.message-icon{
	display: inline-block;
	position: relative;
	font-size: 12px;
	color: #404041;
	width: 70px;
	height: 15px;
	padding-left: 30px;
}

.message-share-icon{
	position: relative;
	height: 35px;
	width: 100%;
	background:#eee;
}

.message-share-icon ul{
	height: 35px;
}

.wb{
	width: 16px;
	height: 16px;
	position: absolute;
	left: 16px;
	top: 10px;
}


.send{
	width: 100%;
	height: 33px;
	position: relative;
	border-bottom: 4px solid#f1f1f1;
}

.send span{
	line-height: 33px;
	font-size: 12px;
}

.send a{
	width: 68px;
	height: 33px;
	display: inline-block;
	position: absolute;
	right: 0;
}

.send_btn{
	padding-left: 20px;
	border: none; 
	right: 0px; 
	position: absolute;
	text-align: right;
	background: url(../img/liuyan.png) no-repeat;
	background-position: 0px 9px;
	font-size: 12px;
	color: #f6bd25;
}

.send_btn:hover{
	color: #f8c53b;
}

.comm-content-list li{
	border-bottom: 1px dotted#ccc;
	height: 110px;
	width: 100%;
	position: relative;
	display: block;
}

.comm-content-list li:last-child{
	border-bottom: 0;
}

.comm-content-text img{
	height: 55px; 
	width: 55px; 
	position: absolute;
	top: 28px;
}

.comm-article{
	display: inline-block;
	height: 110px; 
	overflow: hidden;
	margin-left: 75px;
}

.comm-article span{
	font-size: 14px;
	color: #333;
}

.comm-article-title{
	margin-top: 28px;
}

#time{
	position: absolute;
	right: 0px;
}

#time, #time span{
	color: #ccc;
	font-size: 12px;
}

.comm-text{
	font-size: 12px;
	margin-top: 12px;
	line-height: 18px;
	color: #333333;
}
.time{font-size: 12px;}
.m-inside-content-title{display: none;}


/*inset-list.css*/
.me-list ul{
	text-decoration: none;
	list-style: none;
	height: 80px;
	
}
.me-list ul li{
	float: left;
	font-size: 18px;
	margin-right: 40px;
	margin-top:33px;
}

.me-list ul li a{
	color: #999;
}

.me-list ul li a:hover{
	color: #f6bd25;
}

#selec a{
	color: #333;
}

/*store.css*/
@font-face {
font-family:"Avenir";
src:url(../font/Avenir.otf);
src:url(../font/Avenir.otf?#iefix) format('embedded-opentype'), url(../font/Avenir.otf) format('woff'), url(../font/Avenir.otf) format('truetype'), url(../font/Avenir.otf) format('svg');
}

.st{
	width: 100%;
}

.st p,.st span{
	font-family: "MicrosoftYaHei";
	font-size: 12px;
}

.store_w{
	background: #f5f5f5;
	width: 100%;
	height: 400px;
}

.store_g{
	background: #f3f3f3;
	width: 100%;
	height: 400px;
}

.store_in{
	width: 960px;
	margin: 0 auto;
	height: 100%;
}

.store_in_l{
	width: 50%;
	display: inline-block;
}
.store_in_r{
	width: 50%;
	display: inline-block;
}
.in_l_img{
	background: url(../img/11.png) no-repeat 50% 50%;
	height: 100%;
	display: block;
	background-size: contain;
}


@media screen and (min-width: 768px) and (max-width: 959px){
	.header-box{
		width: 630px;
	}
	.waterfall{
		width: 660px;
	}
	#img-box-b{
		margin: 0 0 30px 0;
	}
	.menu{
		right: 0;
	}
	.search-box{
		display: none;
	}
	.footer{
		height: 130px;
	}
	.lik{
		line-height: 28px;
    }
	.bot-link{
		width: 630px;
	}
	.lik_logo{
		right: -60px;
	}
	.bot-ex{
		text-align: center;
	}
	.n_b{
		display: none;
	}
}


@media screen and (min-width: 480px) and (max-width: 767px){
	.BD{
		max-width:480px;
	}
	.header-box{
		width: 100%;
	}
	.top-img{
		left: 30px;
	}
	.container{
		margin-right: 0px;
	}
	.waterfall{
		width: 480px;
	}
	#img-box-b{
		margin: 0 0 30px 0;
		
	}
	.img-list li{
		
		margin: 0 0 30px 0;
	}
	#b_box{
		
	}
	.box{
		
	}
	#b-img{
		
	}
	.img-box img{
		
	}
	.head-img img{
		width: 24px;
		height: 24px;
	}
	.menu{
		display: none;
		right: 0;
		margin-top: 97px;
		width: 100%;
		text-align: center;
	}
	.menu li{
		display: block;
		width: 100%;
		background: #ccc;
		height: 70px;
		line-height: 70px;
		padding: 0;
	}
	.menu li a{
		display: block;
	}
	.search-box{
		display: none;
	}
	.n_b{
		display: none;
	}
	.footer{
		height: 130px;
	}
	.lik{
		line-height: 28px;
    }
	.bot-link{
		width: 480px;
	}
	.lik_logo{
		right: 0px;
	}
	.bot-ex{
		text-align: center;
	}
	.bot-ex p{
		font-size: 12px;
	}
}

@media screen and (max-width: 479px){
    .BD{
    	width: 100%;padding: 0px;
    }
    .location{display: none;}
    .intro_infor{width: 100%;}
    .header-box{
    	width: 100%;
    }
    .menu{
    	right: 0px;
    }
    .container{
    	padding: 0 0.9375rem;
    }
    .waterfall{
    	width: 100%;
    }
    .img-list{
    	width: 100%;
    }

    .img-list li{
    	width: 100%;
    	height: auto;
    	margin: 0 0 30px 0;
    }
    #img-box-b{
    	width: 100%;
    	height: 100%;
    	margin: 0 0 30px 0;
    }
    .bot-link{
    	width: 100%;
    	padding: 0 0.9375rem;
    }
    #b-img{
    	width: 100%;
    	height: auto;
    }
    #b_box{
    	width: 100%;
    }
    .img-box img{
    	width: 100%;
    	height: auto;
    }
    .head-img img{
    	width: 24px;
    	height: 24px;
    }
    .img-box a{
    	display: block;
    	overflow: hidden;
    }
    .box{
    	top: 0px;
    	width: 100%;
    }
    .search-box{
    	display: none;
    }
    .menu{
        display: none;
		right: 0;
		margin-top: 97px;
		width: 100%;
		text-align: center;
	}
	.menu li{
		display: block;
		width: 100%;
		background: #ccc;
		height: 70px;
		line-height: 70px;
		padding: 0;
	}
	.menu li a{
		display: block;
	}

	#box_2{
		width: 100%;
		height: auto;
		margin: 0 0 30px 0;
	}

	#box_2 img{
		width: 100%;
        height: auto;
	}
	#box_mobile{
		width: 100%;
		height: auto;
		background: #fff;
		margin: 0 0 30px 0;
	}
	.top-img{
		left: 0.9375rem;
	}
	.intro_infor_left{
		float: none;
		width: 100%;
		padding: 0 0.9375rem;
		font-size: 1.5rem;
	}
	.intro_infor_right{
		padding: 0 0.9375rem;
		display: block;
		width: 100%;
	}
	.intro_infor_right p{
		padding-top: 1.5rem;
	}
	.show_btn{
		width: 100%;
		padding: 1.75rem 0;
	}
	#go-top{
		right: 15px;
		bottom: 120px;
	}
	.breadcrumb_nav_icon{
		width: 100%;
		padding: 0 0.9375rem;
	}
}
