.personal_intro{
    width: 100%;
    height: 100%;
}

.personal_intro_infor{
    padding-top: 157px;
}

.personal_intro_infor_right{
    text-align: center;
}

.personal_intro_infor_left{
    width: 150px;
    margin: 0 auto;
    height: 150px;
    overflow: hidden;
    background: url(../img/me.png) 50% 50% no-repeat #fff;
    background-size: 80%;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0,0,0,.1);
}

.personal_intro_infor_right{
    width: 65%;
    margin: 0 auto;
    padding-top: 75px;
}

.personal_intro_infor_right p{
    padding-top: 20px;
    font-size: 1.25rem;
}

.maps_width{
    width: 100%;
    height: 50%;
}

.maps_top{
    width: 100%;
    height: 50px;
    position: relative;
    top: 240px;
}

.maps{
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
}

.maps_text{
    width: 100%;
    height: 15%;
    margin: 0 auto;
    position: relative;
}

.img_plan{
    width: 100%;
    position: absolute;
    z-index: 9;
    height: 50px;
    background: url(../img/plan.png) 30% 50% no-repeat;
    background-size: contain;
    left: 0;
}

.fp-viewing-page3 .img_plan{
    left: 50%;
    -webkit-transition: all 2.5s .7s cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition: all 2.5s .7s cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition: all 2.5s .7s cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: all 2.5s .7s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.img_maps_china{
    padding-top: 8rem;
    position: absolute;
}

.maps_china{
    background: url(../img/c_map.png) 50% 50% no-repeat;
    background-size: 60%;
}

.maps_ohio{
    background: url(../img/oh_map.png) 50% 50% no-repeat;
    background-size: 60%;
}

/*
.part_1{
    background: url(../img/se2.png) 50% 50% no-repeat;
    background-size: cover;
} */

.img_daap{
    width: 25%;
    position: relative;
    margin: 0 auto;
    padding-bottom: 5%;
}

.img_maps_ohio img{
    width: 80%;
}

.img_daap img{
    width: 80%;
}

.mani_text{
    width: 60%;
    margin: 0 auto;
    font-size: 1.25rem;
    text-align: left;
}

.mani_img{
    width: 50%;
    margin:0 auto;
    padding-bottom: 5%;
}

.mani_img img{
    width: 60%;
}
