.wireframes{
	width:100%;
	position:relative;
}

.wireframes .row img{
	max-width: 200px;
	z-index: 1;
}

.wireframe-step{
    min-height: 150px;
    height: 220px;
    width: 33.33%;
    display: inline-block;
    position: relative;
    float: left;
    padding: 10px;
}
.wireframe-step-box{
    height: 100%;
    background-color: rgb(113, 192, 201);
    margin: 0 20px;
    position: relative;
}

.title{
	text-align: left;
    color: white;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.number{
	width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    line-height: 1.7;
    z-index: 3;
    font-size: 30px;
    font-weight: 300;
    color:rgb(113, 192, 201);
    box-shadow: 0px 3px 10px rgba(0,0,0,.2);
    top: -25px;
    left: -25px;
}

.on-left{
	position: absolute;
    color: #eee;
    text-align: left;
    width: 40%;
    left: 15px;
    font-size: 12px;
    top: 35px;
}

.row_text h2{
	font-size: 3rem;
	color: #333;
	font-weight: 300;
}

.on-right{
	position: absolute;
	right: 5px;
	top: 35px;
}






