.wireframes{
	width:100%;
	position:relative;
}

.wireframes .row img{
	max-width: 200px;
	z-index: 1;
    box-shadow: 0px 3px 15px rgba(0,0,0,.2);
}

.wireframe-step{
    min-height: 150px;
    height: 220px;
    width: 33.33%;
    display: inline-block;
    position: relative;
    float: left;
    padding: 0 15px 15px 15px;
    opacity: 0;
    -webkit-transition:all 1s ease-out;
    -moz-transition:all 1s ease-out;
    -o-transition:all 1s ease-out;
    transition:all 1s ease-out;
}

.fp-viewing-page6 .wireframe_step_1{
    opacity: 1;
    -webkit-animation-delay:.2s;
    transition-delay:.2s;
}
.fp-viewing-page6 .wireframe_step_2{
    opacity: 1;
    -webkit-animation-delay:.4s;
    transition-delay:.4s;
}
.fp-viewing-page6 .wireframe_step_3{
    opacity: 1;
    -webkit-animation-delay:.6s;
    transition-delay:.6s;
}
.fp-viewing-page6 .wireframe_step_4{
    opacity: 1;
    -webkit-animation-delay:.8s;
    transition-delay:.8s;
}
.fp-viewing-page6 .wireframe_step_5{
    opacity: 1;
    -webkit-animation-delay:1s;
    transition-delay:1s;
}






.wireframe-step-box{
    height: 100%;
    margin: 0 20px;
    position: relative;
}

.title{
	text-align: left;
    color: #333;
    display: block;
    text-transform: uppercase;
    font-size: .85rem;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.number{
	width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    background-color: rgb(113, 192, 201);
    border-radius: 50%;
    line-height: 1.3;
    z-index: 3;
    font-size: 1.45rem;
    font-weight: 700;
    color:#fff;
    top: 20px;
    left: 5px;
}

.on-left{
	position: absolute;
    color: #777;
    text-align: left;
    width: 40%;
    font-size: .75rem;
    font-weight: 200;
    top: 60px;
    left: 5px;
}

.on-right{
	position: absolute;
	right: 5px;
	top: 25px;
}

#draggable{
	background-color: #fff;
    left: 200px;
    top: 143px;
    border-radius: 50%;
	box-shadow:0 0 2px 0 rgba(0,0,0,0.2),0 5px 12px 0 rgba(100,100,100,0.44);
}




